[Desktop Entry]
Categories=Qt;KDE;Utility;X-KDE-Utilities-Desktop;
Name=MX Updater
Name[am]=MX ማሻሻያ
Name[ar]=MX Updater
Name[bg]=MX Updater
Name[ca]=MX Updater
Name[cs]=MX Updater
Name[da]=MX Opdatering
Name[de]=MX Updater
Name[el]=MX Updater
Name[es]=MX Actualizador
Name[et]=MX Updater
Name[eu]=MX Updater
Name[fa]=MX Updater
Name[fi]=MX Päivitys
Name[fr]=MX Mise à jour
Name[he_IL]=MX Updater
Name[hi]=MX अपडेट साधन
Name[hr]=MX Updater
Name[hu]=MX frissítő
Name[id]=MX Updater
Name[is]=Uppfæra MX
Name[it]=MX Aggiornamenti
Name[ja]=MX Updater
Name[kk]=MX Updater
Name[ko]=MX Updater
Name[lt]=MX atnaujinimų programa
Name[mk]=MX Updater
Name[mr]=MX Updater
Name[nb]=MX Updater
Name[nl]=MX Updater
Name[pl]=MX Aktualizacje
Name[pt_BR]=Notificador de Atualizações
Name[pt]=Notificador de Actualizações
Name[ro]=MX Updater
Name[ru]=MX Updater
Name[sk]=MX Updater
Name[sl]=MX posodobitev
Name[sq]=MX Updater
Name[sr]=MX Updater
Name[sv]=MX Uppdaterare
Name[tr]=MX Updater
Name[uk]=MX Updater
Name[zh_CN]=MX Updater
Name[zh_TW]=MX 更新
Comment=An applet to show updates
Comment[am]=ማሻሻያ የሚያሳይ አፕሌት
Comment[ar]=An applet to show updates
Comment[bg]=An applet to show updates
Comment[ca]=Una aplicació per mostrar les actualitzacions
Comment[cs]=An applet to show updates
Comment[da]=En applet til at vise opdateringer
Comment[de]=Ein Anzeiger verfügbarer Updates
Comment[el]=Μια μικροεφαρμογή για την εμφάνιση ενημερώσεων
Comment[es]=Un applet que muestra actualizaciones
Comment[et]=An applet to show updates
Comment[eu]=An applet to show updates
Comment[fa]=An applet to show updates
Comment[fi]=Sovelma päivitysten näyttämiseen
Comment[fr]=Un applet affichant les mises à jour
Comment[he_IL]=An applet to show updates
Comment[hi]=An applet to show updates
Comment[hr]=An applet to show updates
Comment[hu]=Frissítésjelző minialkalmazás
Comment[id]=An applet to show updates
Comment[is]=An applet to show updates
Comment[it]=Un'applet per mostrare gli aggiornamenti
Comment[ja]=An applet to show updates
Comment[kk]=An applet to show updates
Comment[ko]=An applet to show updates
Comment[lt]=Programėlė, skirta rodyti atnaujinimus
Comment[mk]=An applet to show updates
Comment[mr]=An applet to show updates
Comment[nb]=An applet to show updates
Comment[nl]=Een applet om updates te laten zien
Comment[pl]=Aplet do pokazywania aktualizacji
Comment[pt_BR]=Mini-aplicação que mostra as atualizações disponíveis [apt-notifier]
Comment[pt]=Mini-aplicação que mostra as actualizações disponíveis [apt-notifier]
Comment[ro]=An applet to show updates
Comment[ru]=An applet to show updates
Comment[sk]=An applet to show updates
Comment[sl]=Aplet za prikaz posodobitev
Comment[sq]=An applet to show updates
Comment[sr]=An applet to show updates
Comment[sv]=Ett miniprogram för att visa uppdateringar
Comment[tr]=An applet to show updates
Comment[uk]=An applet to show updates
Comment[zh_CN]=An applet to show updates
Comment[zh_TW]=顯示更新訊息的小程式
Exec=bash -c "sleep 8; exec /usr/bin/apt-notifier"
GenericName[en_US]=MX Updater
GenericName=MX Updater
Icon=mnotify-some
MimeType=
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-DocPath=

