[Desktop Entry]
Name=QjackCtl
Version=1.0
GenericName=JACK Control
Comment=QjackCtl is a JACK Audio Connection Kit Qt GUI Interface
Exec=qjackctl
Icon=qjackctl
Categories=Audio;AudioVideo;Midi;X-Alsa;X-Jack;Qt;
Keywords=Audio;MIDI;ALSA;JACK;LV2;Qt;
Terminal=false
Type=Application
StartupWMClass=qjackctl
X-Window-Icon=qjackctl
X-SuSE-translate=true
X-XFCE-Source=file:///usr/share/applications/qjackctl.desktop
