[Desktop Entry]
Name=MX Tools
Comment=Configuration tools for MX Linux
Exec=mx-tools
Icon=mx-tools
NoDisplay=false
Categories=XFCE;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-PersonalSettings;
Type=Application
X-XFCE-Source=file:///usr/share/applications/mx-tools.desktop
